@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900');

/* font-family: 'Heebo', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

body{font-family: 'Lato', sans-serif;line-height: 1.5;position: relative;font-weight: 400;}
header{position: fixed;left: 0;top: 0;z-index: 999;transition: all 0.3s ease;background-color: #99999994;padding: 5px 0;}
.ap__logoDiv{width: 180px;}
.ap__logoDiv img{max-width: 100%;}
.ap__navigation .ap__navLinks{margin: 0 18px;}
.ap__navigation .ap__navLinks a{color: #fff;font-size: 14px;text-transform: uppercase;letter-spacing: 1px;transition: all 0.3s ease;}
.ap__navigation .ap__navLinks a i{font-size: 20px;display: inline-block;vertical-align: middle;margin-bottom: 2px;}
.ap__navigation .ap__navLinks a.ap__navButton{border-radius:5px 5px 5px 5px;padding:13px 32px 13px 32px;color: #fff;background-color: #FF6F00;transition: all 0.3s ease;}

.ap__navigation .ap__navLinks:not(:last-child) a.ap__navClick:hover{color: #FF6F00;}
.ap__navigation .ap__navLinks.active a.ap__navClick{color: #FF6F00;}
.ap__banner__slider img{max-width: 100%;}
.ap__banner__image::after{content: '';position: absolute;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;}
.ap__emptyHeight{height: 20px;}
.ap__dropMenu{position: absolute;left: -40px;top: 100%;display: block;min-width:220px;transition: all 0.4s ease;visibility: hidden; opacity: 0;}
.ap__dropInner{padding:10px 15px 10px 15px;background-color:#79797985;border-radius:0px 0px 10px 10px;min-width:220px;box-shadow:0px 0px 0px 0px rgb(0 0 0 / 50%);}
.ap__dropInner a{color: #fff;font-size: 14px;text-transform: uppercase;letter-spacing: 1px;transition: all 0.3s ease;margin: 10px 0;display: block;}
.ap__dropInner a:hover{color: #FF6F00;}
.ap__navigation .ap__navLinks.ap__dropParent:hover .ap__dropMenu{visibility: visible;opacity: 1;}
